NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
NEXT_PUBLIC_STRIPE_MONTHLY_PAYMENT_LINK_URL=https://buy.stripe.com/test_...
NEXT_PUBLIC_STRIPE_YEARLY_PAYMENT_LINK_URL=https://buy.stripe.com/test_...
NEXT_PUBLIC_STRIPE_MONTHLY_AUTHENTIC_PAYMENT_LINK_URL=https://buy.stripe.com/test_...
NEXT_PUBLIC_STRIPE_YEARLY_AUTHENTIC_PAYMENT_LINK_URL=https://buy.stripe.com/test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
DATABASE_URL=postgres://postgres:postgres@localhost:54322/madridistas
