NEXT_PUBLIC_STRIPE_PRICING_TABLE_ID=prctbl_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
NEXT_PUBLIC_STRIPE_MONTHLY_PAYMENT_LINK_URL=https://buy.stripe.com/test_...
NEXT_PUBLIC_STRIPE_YEARLY_PAYMENT_LINK_URL=https://buy.stripe.com/test_...
NEXT_PUBLIC_STRIPE_MONTHLY_AUTHENTIC_PAYMENT_LINK_URL=https://buy.stripe.com/test_...
NEXT_PUBLIC_STRIPE_YEARLY_AUTHENTIC_PAYMENT_LINK_URL=https://buy.stripe.com/test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_MONTHLY_PRICE_ID=price_...
STRIPE_YEARLY_PRICE_ID=price_...
STRIPE_MONTHLY_AUTHENTIC_PRICE_ID=price_...
STRIPE_YEARLY_AUTHENTIC_PRICE_ID=price_...
DATABASE_URL=postgres://postgres:postgres@localhost:54322/madridistas
